@media (max-width: 768px){
  #seçao {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
    
  body{
    text-align: center;
    font-family: "Montserrat";
    color: #404040;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: red;
   
    flex-direction: column;

   
  }
  .titulo{
    text-align: center;
    background-color:white;
    
   
    width: auto;
    border-radius: 30px;
    width: 500px;
    height: 500px;
  }
.atençao{
    background-color: white;
    text-align: center;
    border-radius: 30px;
}

.campo-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 15px;
    border-radius: 30px;
    padding: 70px;
    height: 80px;
   
}
#login{
  text-align: center;
  border-radius: 15px;
}
#senha{
  margin: 12px;
  text-align: center;
  border-radius: 15px;
  width: 200px;
}

.input-dados {
  
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 300px;

}
button{
  background-color: blue;
  border-radius: 15px;
}

