
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }

 
    
  body{
    text-align: center;
    font-family: "Montserrat";
    color: #404040;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 400px;
    padding: 20px;
   
  }
  .titulo{
    text-align: center;
    background-color:white;
    padding: 100px;
    height: 100px;
    width: auto;
    border-radius: 30px;
  }
.atençao{
    background-color: white;
    padding: 100px;
    text-align: center;
    border-radius: 30px;
}

.campo-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 15px;
    border-radius: 30px;
}

